<div id="messagesContainer" class="container-fluid messages" [ngClass]="{'on': msgService.msgsVisible,'off': !msgService.msgsVisible}">
	<div class="actions">
		<span>Messages</span>
		<a (click)="hide()" title="Hide messages"><i class="fa fa-times"></i></a>
	</div>
	<div class="wrapper">
		<hr/>
		<div *ngFor="let message of messages; let msgIdx = index" class="container-fluid msgline">
			<div class="col icon">
				<i [ngClass]="msgTypes[message.type]"></i>
			</div>
			<div class="col msgtext">
				<span *ngIf="message.code">{{ msgTypesTitles[message.type] }} ({{ message.code }}) </span>
				<span>{{ message.message }}</span>
			</div>
			<div class="col action">
				<a (click)="delete(msgIdx)"><i class="fa fa-trash-o"></i></a>
			</div>
		</div>
		<div *ngIf="messages && messages.length == 0">No messages</div>
	</div>
</div>
