<div class="row contain">
    <div class="col-lg-4 col-md-4"></div>
    <div class="col-lg-4 col-md-4 form-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div formGroupName="loginFormData">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="">
                            <mat-form-field class="">
                                <mat-label><b>Login</b></mat-label>
                                <input matInput formControlName="login" id='login'>
                                <mat-error *ngIf="!loginForm.get('loginFormData.login').valid && loginForm.get('loginFormData.login').touched">
                                    <span *ngIf="loginForm.get('loginFormData.login').errors['required']">
                                          Please select login!
                                        </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="">
                            <mat-form-field class="">
                                <mat-label><b>Password</b></mat-label>
                                <input matInput formControlName="password" id='password'>
                                <mat-error *ngIf="!loginForm.get('loginFormData.password').valid && loginForm.get('loginFormData.password').touched">
                                    <span *ngIf="loginForm.get('loginFormData.password').errors['required']">
                                          Please select password!
                                        </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row buttons-container">
                    <div class="">
                        <button class="float-left btn-space" mat-raised-button id="save-btn">
                          Login
                        </button>
                        <button class="float-right" mat-raised-button id="cancel-btn">
                          Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-4 col-md-4"></div>
</div>