/* colors */

$black: #101010;
$background: #F0F2F5;
$footer: #26272C;
$light: #F0F0F0;
$white: #FFF;
$dark: #313237;
$dark-blue: #1a3c8a;
$grey: grey;
$dark-grey: #575665;
$mid-grey: #777;
$light-grey: #9d9d9d;
$red: #BF4346;
$red-full: red;
$green: #488C6C;
$blue: #368EE4;
$yellow: #FFFF00;
$shippedBack: #808080;
$borders:#eee;
$very-light-grey: #E3E3E3;
$tr-hover-background: #86cbea;
$bar-light-grey: #f5f4f4;
$main-parts-background-color: #1EB2FC;
$orange: #DEA404;
$light-blue: #1DA0E2;
$incident-odd-item-background-color: #F2F7FB;

/* filter red: #A2373A */


/* danger #d9534f */


/* green rgb(69, 133, 103)
    rgb(72, 140, 108)
*/


/* dark blue rgb(0, 117, 182) #0075B6*/


/* link blue  #337ab7*/


/* 808080 */


/* DBDBE3 */


/* f7f7f7 */


/* 797979 */


/* ddd ccc */


/* #F1F1F1 */


/* fonts */

$default-font: "Segoe UI",
"Open Sans",
sans-serif;
$title-font: "Open Sans",
sans-serif;
$default-font-size: 12px;
$error-font-size: 13px;
$table-header-font-size: 14px;
$form-fieldset-title-font-size: 16px;
$header-font-size: 18px;
$finish-meeting-title-font-size: 20px;
$title-font-size: 25px;
$title-font-size-sm: 18px;
$sliding-panel-font-size: 12px;
$incident-list-font-size: 10px;
